# Python
__pycache__/
*.py[cod]
*.so
*.pyd
*.pyi

# Virtual environments
venv/
.venv/

# IDEs
.vscode/
.idea/

# Jupyter Notebook
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# dotenv
.env
.env.* 

# Streamlit
.streamlit/
